

#Dépendances Composer
/vendor/
#connection bdd
config.php
#Fichiers générés automatiquement
*.log
*.lock

#Fichiers sensibles
.env

#Fichiers de test ou temporaires
*.tmp
*.cache

#Systèmes / IDE
.DS_Store
Thumbs.db
*.bak

#  PhpStorm 
.idea/

#  Logs Apache, sessions, etc.
*.pid
*.seed
*.sqlite

# Dossier QR générés
/qr-folder/
